<div class="reservation-container">
  <div class="go-back">
    <%= link_to icon('fas', 'chevron-left'), local_boat_journeys_path %>
    <%= link_to 'Go back', local_boat_journeys_path, class: 'av-link' %>
  </div>

  <div class="reservation-card">
  <h4>Edite a viagem</h4>

    <%= simple_form_for(@boat_journey, url: local_boat_journey_path(@boat_journey), method: 'patch') do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :departure_time,
                    required: true,
                    as: :string,
                    input_html: {class: 'journeypicker'} %>
        <%= f.input :travel_duration,
                    required: true,
                    autofocus: true %>
        <%= f.input :price_person,
                    required: true,
                    autofocus: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Save", class: "devise-btn" %>
      </div>
    <% end %>

  </div>
</div>
