<div class="edit-form-container">
  <h3>Edit your Boat Journey</h3>

  <div>
    <%= simple_form_for(@boat_journey, url: local_boat_journey_path(@boat_journey), method: 'patch') do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :departure_time,
                    required: true,
                    as: :string,
                    input_html: {class: 'journeypicker'} %>
        <%= f.input :travel_duration,
                    required: true,
                    autofocus: true %>
        <%= f.input :price_person,
                    required: true,
                    autofocus: true %>
      </div>
      
      <div class="space-btns">
        <div class="form-actions">
          <%= f.button :submit, "Save", class: "secondary-btn secondary-btn-sm secondary-btn-blue" %>
        </div>
        <%= link_to 'Back', user_path(current_user), class: 'primary-btn primary-btn-sm primary-btn-blue' %>
      </div>
    <% end %>
    

  </div>
</div>
