<div class="container">
  <h3>Sua programação de barco</h3>
  <% if @boat_journeys.empty? %>
    <p>Você não tem viagens de barco programadas.</p>
  <% else %>
    <% @boat_journeys.each do |boat_journey| %>
      <div>
        <ul>
          <li><strong>Nome do barco: </strong><%= boat_journey.boat.name %></li>
          <li><strong>Hora de partida: </strong><%= boat_journey.departure_time.strftime("%d %B %Y, %H:%M") %></li>
          <li><strong>Duração: </strong><%= boat_journey.travel_duration %></li>
          <li><strong>Preço por passageiro: </strong><%= boat_journey.price_person %></li>
          <%= link_to "Edit journey", edit_local_boat_journey_path(boat_journey) %>
          <%= link_to "Delete", local_boat_journey_path(boat_journey), method: :delete %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <%= link_to "Add a journey", local_boats_path(current_user) %>
</div>
