<div class="local-boat-journey-reservations-container">
  <% if @journey_reservations.empty? %>
    <h3>Your Boat Reservations</h3>
    <p>Sorry, no reservations yet.</p>
    <div style="height: 400px;"></div>
  <% end %>

  <% if @upcoming_journey_reservations.present? %>
    <h3>Upcoming Boat Reservations</h3>
    <% @upcoming_journey_reservations.each do |boat_reservation| %>
      <div class="boat-journey-reservation-card res-card-margin">
        <div class="card-colour-box"></div>
        <h5><%= "#{boat_reservation.user.first_name} #{boat_reservation.user.last_name}" %></h5>
        <p><%= boat_reservation.boat_journey.boat.name %></p>
        <ul>
          <li><strong>Departure time:</strong> <%= boat_reservation.boat_journey.departure_time.strftime("%d %B %Y, %H:%M") %></li>
          <li><strong>Duration:</strong> <%= boat_reservation.boat_journey.travel_duration %></li>
          <li><strong>Number of passengers:</strong> <%= boat_reservation.number_passengers %></li>
          <li><strong>Total price:</strong> <%= boat_reservation.total_price %></li>
          <li><strong>Status:</strong> <%= boat_reservation.status %></li>
        </ul>
        <div class="res-card-btns">
          <% if boat_reservation.pending? %>
            <%= link_to "Confirm", local_boat_journey_reservation_path(boat_reservation, boat_journey_reservation: { status: 'confirmed' }), method: :patch, class: "secondary-btn secondary-btn-sm secondary-btn-green" %>
            <%= link_to "Reject", local_boat_journey_reservation_path(boat_reservation, boat_journey_reservation: { status: 'rejected' }), method: :patch, class: "secondary-btn secondary-btn-sm secondary-btn-pink" %>
          <% elsif boat_reservation.confirmed? %>
            <%= link_to "Cancel", local_boat_journey_reservation_path(boat_reservation, boat_journey_reservation: { status: 'rejected' }), method: :patch, class: "secondary-btn secondary-btn-sm secondary-btn-pink" %>
          <% elsif boat_reservation.rejected? %>
            <%= link_to "Confirm", local_boat_journey_reservation_path(boat_reservation, boat_journey_reservation: { status: 'confirmed' }), method: :patch, class: "secondary-btn secondary-btn-sm secondary-btn-green" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>


  <% if @past_journey_reservations.present? %>
    <h3>Past Boat Reservations</h3>
    <% @past_journey_reservations.each do |boat_reservation| %>
      <div class="boat-journey-reservation-card res-card-margin">
        <div class="res-card-yellow"></div>
        <h5><%= "#{boat_reservation.user.first_name} #{boat_reservation.user.last_name}" %></h5>
        <p><%= boat_reservation.boat_journey.boat.name %></p>
        <ul>
          <li><strong>Dearture time: </strong><%= boat_reservation.boat_journey.departure_time.strftime("%d %B %Y, %H:%M") %></li>
          <li><strong>Duration: </strong><%= boat_reservation.boat_journey.travel_duration %></li>
          <li><strong>Number of passengers: </strong><%= boat_reservation.number_passengers %></li>
          <li><strong>Total price: </strong><%= boat_reservation.total_price %></li>
          <li><strong>Status: </strong><%= boat_reservation.status %></li>
        </ul>
        <div class="res-card-btns">
          <% if boat_reservation.pending? %>
            <%= link_to "Confirm", local_boat_journey_reservation_path(boat_reservation, boat_journey_reservation: { status: 'confirmed' }), method: :patch, class: "secondary-btn secondary-btn-sm secondary-btn-green" %>
            <%= link_to "Reject", local_boat_journey_reservation_path(boat_reservation, boat_journey_reservation: { status: 'rejected' }), method: :patch, class: "secondary-btn secondary-btn-sm secondary-btn-pink" %>
          <% elsif boat_reservation.confirmed? %>
            <%= link_to "Cancel", local_boat_journey_reservation_path(boat_reservation, boat_journey_reservation: { status: 'rejected' }), method: :patch, class: "secondary-btn secondary-btn-sm secondary-btn-pink" %>
          <% elsif boat_reservation.rejected? %>
            <%= link_to "Confirm", local_boat_journey_reservation_path(boat_reservation, boat_journey_reservation: { status: 'confirmed' }), method: :patch, class: "secondary-btn secondary-btn-sm secondary-btn-green" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
