<div class="profile-edit-card-container">
  <h3>Edit Profile</h3>
    <%= simple_form_for(current_user, url: user_path(current_user), method: 'patch') do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "first name" }%>
        <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "last name" }%>
        <%= f.input :phone_number,
                    autofocus: true,
                    input_html: { autocomplete: "phone number" }%>
        <%= f.input :birth_date,
                    autofocus: true,
                    as: :string,
                    input_html: {class: 'birthdaypicker'} %>
        <%= f.input :address,
                    autofocus: true,
                    input_html: { autocomplete: "address", maxlength: 80 }%>
        <%= f.input :bio,
                    label: "Tell the locals who you are!",
                    autofocus: true,
                    input_html: { autocomplete: "bio", maxlength: 300 }%>
        <%= f.input :photo, as: :file %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Save", class: "secondary-btn secondary-btn-sm secondary-btn-dark-blue" %>
        <%= button_to 'Back', user_path(current_user), class: 'secondary-btn secondary-btn-sm secondary-btn-dark-blue' %>
      </div>
    <% end %>
</div>
