<div class="home-footer">
  <div class="footer-left">

    <div class="footer-info">
      <p><%= link_to 'About this project', 'https://github.com/juliaf1/aventureiro/blob/master/README.md', target: '_blank', class: 'av-link' %></p>
      <p><%= link_to 'The developers', "https://github.com/juliaf1/aventureiro/graphs/contributors", target: '_blank',class: 'av-link' %></p>
    </div>

    <div class="footer-info">
      <p><%= mail_to "aventureirailhagrande@gmail.com", "Contact AMAV", subject: "Olá Preciso de Informações", class: 'av-link' %></p>
      <p><%= link_to 'Ilha Grande Website', 'https://www.ilhagrande.com.br',  target: '_blank', class: 'av-link' %></p>
    </div>

  </div>

  <div class="footer-right">
    <%= link_to icon('fab', 'github'), 'https://github.com/juliaf1/aventureiro', target: '_blank' %>
    <p>Made with Rails at Le Wagon #499</p>
  </div>
</div>
