<div class="home-local-navbar">
  <div class="navbar-options-left">
      <ul>
        <li><%= link_to "My Campsites", local_campsites_path, class: "av-link" %></li>
        <li><%= link_to "My Boats", local_boats_path, class: "av-link" %></li>
        <li><%= link_to "My Boat Schedule", local_boat_journeys_path, class: "av-link" %></li>
        <li><%= link_to "My Campsite Reservations", local_campsite_reservations_path, class: "av-link" %></li>
        <li><%= link_to "My Boat Reservations", local_boat_journey_reservations_path, class: "av-link" %></li>
      </ul>
    </div>
</div>
