<div class="local-navbar">
  <div class="navbar-options-left">
      <ul>
        <li><%= link_to "Camping", local_campsites_path, class: "av-link" %></li>
        <li><%= link_to "Barco", local_boats_path, class: "av-link" %></li>
        <li><%= link_to "Horários de Barco", local_boat_journeys_path, class: "av-link" %></li>
        <li><%= link_to "Reservas Camping", local_campsite_reservations_path, class: "av-link" %></li>
        <li><%= link_to "Reservas Barco", local_boat_journey_reservations_path, class: "av-link" %></li>
      </ul>
    </div>
</div>
