<%= simple_form_for [ @feed, @post ], remote: true do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :rich_body,
                label: false,
                required: true,
                autofocus: true,
                maxlength: 240,
                height: 1000,
                placeholder: "Share your adventure!"%>
    <%= f.input :photo, as: :file, label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create", class: "secondary-btn secondary-btn-sm secondary-btn-dark-blue" %>
  </div>
<% end %>
