<% if current_user %>
  <% unless current_user.local? %>
    <%= render 'shared/index_navbar' %>
  <% end %>
<% else %>
  <%= render 'shared/index_navbar' %>
<% end %>

<div class="permits-container">
  <h3 style="margin-bottom: 40px;">My Permit Requests</h3>
  <% n = 1 %>
  <% @permit_requests.each do |request| %>
    <div class="permit-card" style="margin-bottom: 40px;">
      <div class="card-colour-box"></div>
      <h4>Permit Request <%= n %></h4>
      <ul>
        <li><strong>Name:</strong> <%= request.first_name %> <%= request.last_name %></li>
        <li><strong>Arrival:</strong> <%= request.arrival.strftime("%d %B %Y") %></li>
        <li><strong>Departure:</strong> <%= request.departure.strftime("%d %B %Y") %></li>
        <li><strong>Email:</strong> <%= request.email %></li>
        <li><strong>Address:</strong> <%= request.address %></li>
        <li><strong>Phone Number:</strong> <%= request.phone_number %></li>
        <li><strong>Birth Date:</strong> <%= request.birth_date %></li>
        <li><strong>Status:</strong> <%= request.status %></li>
      </ul>
    </div>
    <% n += 1 %>
  <% end %>

  <%= link_to 'Make a new request', new_permit_request_path, class: 'secondary-btn secondary-btn-sm secondary-btn-green' %>

  <% if @permit_requests.present? %>
    <div style="height: 100px;"></div>
  <% else %>
    <div style="height: 400px;"></div>
  <% end %>
</div>
