<div class="permit-request-card">
  <h2>Permit Request</h2>
  <div class="permit-request-form">

  <%= simple_form_for(@permit_request, url: permit_requests_path, method: 'post') do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :arrival, label: "Arrival", required: true, as: :string, input_html: {id: "arrival", autocomplete: 'off' } %>
      <%= f.input :departure, label: "Departure", required: true, as: :string, input_html: {id: "departure", autocomplete: 'off' } %>
      <%= f.input :first_name, label: "First Name", required: true, as: :string, input_html: { value: "#{current_user.first_name}", autocomplete: 'off' } %>    
    </div>

    <div class="form-actions">
      <%= link_to 'Back', permit_requests_path, class: 'secondary-btn secondary-btn-sm secondary-btn-dark-blue' %>
      <%= f.button :submit, "Create", class: "secondary-btn secondary-btn-sm secondary-btn-dark-blue" %>
    </div>

  <% end %>
</div>
