<div class="boats-container">
  <% if @boats.empty? %>
    <p>Você ainda não tem barcos.
      <%= link_to "Adicione um barco", new_local_boat_path, class: "secondary-btn secondary-btn-sm secondary-btn-dark-blue" %></p>

  <% else %>
    <%= link_to "Adicione um barco", new_local_boat_path, class: "secondary-btn secondary-btn-sm secondary-btn-dark-blue" %>

    <% @boats.each do |boat| %>
      <div class="boat-card">
        <div class="boat-card-top">
          <div class="boat-details">
            <h3 class="boat-name"><%= boat.name %></h3>
            <p>Ocupação máxima: <%= boat.max_occupation %></p>
          </div>
          <div class="boat-card-image">
            <img class="boat-image" src="https://imgc.allpostersimages.com/img/print/posters/small-fishing-boats-in-the-turquoise-sea-mauritius-indian-ocean-africa_a-G-8747570-4990619.jpg" alt="boat photo">
          </div>
        </div>

        <div class="boat-card-btns">
          <%= link_to "Adicione uma viagem", new_local_boat_boat_journey_path(boat), class: "secondary-btn secondary-btn-sm secondary-btn-dark-blue" %>
          <%= link_to "Remover", local_boat_path(boat), method: :delete, class: "primary-btn primary-btn-sm primary-btn-blue" %>
          <%= link_to "Editar", edit_local_boat_path(boat), class: "primary-btn primary-btn-sm primary-btn-blue" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
