<div class="local-campsite-reservations-container">
  <h3>Your camping reservations</h3>

  <% if @campsite_reservations.empty? %>
    <p>You don't have any reservations yet.</p>
  <% end %>


  <% if @upcoming_campsite_reservations.present? %>
    <h4>Próximas reservas</h4>
    <% @upcoming_campsite_reservations.each do |campsite_reservation| %>
      <div class="campsite-reservation-card res-card-margin">
        <div class="res-card-pink"></div>
        <div class="res-card-info">
          <ul>
            <li><h5><%= campsite_reservation.user.first_name %> <%= campsite_reservation.user.last_name %></h5></li>
            <p><%= campsite_reservation.campsite.name %></p>
            <li><strong>Message: </strong><%= campsite_reservation.description%></li>
            <li><strong>Check in: </strong><%= campsite_reservation.check_in.strftime("%d %B %Y") %></li>
            <li><strong>Check out: </strong><%= campsite_reservation.check_out.strftime("%d %B %Y") %></li>
            <li><strong>Number of guests: </strong><%= campsite_reservation.number_guests %> guests</li>
            <li><strong>Total price: </strong><%= campsite_reservation.total_price %></li>
            <li><strong>Status: </strong><%= campsite_reservation.status %></li>
          </ul>
        </div>

        <div class="res-card-btns">
          <% if campsite_reservation.pending? %>
            <%= link_to "Confirm", local_campsite_reservation_path(campsite_reservation, campsite_reservation: { status: 'confirmed' }), method: :patch, class: "secondary-btn secondary-btn-sm secondary-btn-green" %>
            <%= link_to "Reject", local_campsite_reservation_path(campsite_reservation, campsite_reservation: { status: 'rejected' }), method: :patch, class: "secondary-btn secondary-btn-sm secondary-btn-pink" %>
          <% elsif campsite_reservation.confirmed? %>
            <%= link_to "Cancel", local_campsite_reservation_path(campsite_reservation, campsite_reservation: { status: 'rejected' }), method: :patch, class: "secondary-btn secondary-btn-sm secondary-btn-pink" %>
          <% elsif campsite_reservation.rejected? %>
            <%= link_to "Confirm", local_campsite_reservation_path(campsite_reservation, campsite_reservation: { status: 'confirmed' }), method: :patch, class: "secondary-btn secondary-btn-sm secondary-btn-green" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @past_campsite_reservations.present? %>
    <h4>Previous reservations</h4>
    <% @past_campsite_reservations.each do |campsite_reservation| %>
      <div class="campsite-reservation-card res-card-margin">
        <div class="res-card-pink"></div>
        <div class="res-card-info">
          <ul>
            <li><h5><%= campsite_reservation.user.first_name %> <%= campsite_reservation.user.last_name %></h5></li>
            <p><%= campsite_reservation.campsite.name %></p>
            <li><strong>Message: </strong><%= campsite_reservation.description%></li>
            <li><strong>Check in: </strong><%= campsite_reservation.check_in.strftime("%d %B %Y") %></li>
            <li><strong>Check out: </strong><%= campsite_reservation.check_out.strftime("%d %B %Y") %></li>
            <li><strong>Number of guests: </strong><%= campsite_reservation.number_guests %> guests</li>
            <li><strong>Total price: </strong><%= campsite_reservation.total_price %></li>
            <li><strong>Status: </strong><%= campsite_reservation.status %></li>
          </ul>
        </div>

        <div class="res-card-btns">
          <% if campsite_reservation.pending? %>
            <%= link_to "Confirm", local_campsite_reservation_path(campsite_reservation, campsite_reservation: { status: 'confirmed' }), method: :patch, class: "secondary-btn secondary-btn-sm secondary-btn-green" %>
            <%= link_to "Reject", local_campsite_reservation_path(campsite_reservation, campsite_reservation: { status: 'rejected' }), method: :patch, class: "secondary-btn secondary-btn-sm secondary-btn-pink" %>
          <% elsif campsite_reservation.confirmed? %>
            <%= link_to "Cancel", local_campsite_reservation_path(campsite_reservation, campsite_reservation: { status: 'rejected' }), method: :patch, class: "secondary-btn secondary-btn-sm secondary-btn-pink" %>
          <% elsif campsite_reservation.rejected? %>
            <%= link_to "Confirm", local_campsite_reservation_path(campsite_reservation, campsite_reservation: { status: 'confirmed' }), method: :patch, class: "secondary-btn secondary-btn-sm secondary-btn-green" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
