

      <div class="campsite-reservation-card">
        <div class="campsite-reservation-card-main">
          <div class="campsite-reservation-info">
            <h3><%= @campsite_reservation.campsite.name %></h3>
            <h5><%=@campsite_reservation.number_guests %> guests</h5>
            <p><strong>Check-in:</strong> <%= @campsite_reservation.check_in.strftime("%d %B %Y") %></p>
            <p><strong>Check-out:</strong> <%= @campsite_reservation.check_out.strftime("%d %B %Y") %></p>
            <p><strong>Total:</strong> <%= "R$#{@campsite_reservation.total_price}" %></p>
            <p><strong>Status:</strong> <%= @campsite_reservation.status %></p>
            <p><%= @campsite_reservation.description%></p>
          </div>
          <% if @campsite_reservation.pending? %>
            <%= link_to "Confirmar", local_campsite_reservation_path(@campsite_reservation, campsite_reservation: { status: 'confirmed' }), method: :patch %>
            <%= link_to "Rejeitar", local_campsite_reservation_path(@campsite_reservation, campsite_reservation: { status: 'rejected' }), method: :patch %>
          <% elsif @campsite_reservation.confirmed? %>
            <%= link_to "Cancelar", local_campsite_reservation_path(@campsite_reservation, campsite_reservation: { status: 'rejected' }), method: :patch %>
          <% elsif @campsite_reservation.rejected? %>
            <%= link_to "Confirmar", local_campsite_reservation_path(@campsite_reservation, campsite_reservation: { status: 'confirmed' }), method: :patch %>
          <% end %>
        </div>
      </div>
