<div class="campsites-container">
  <h3>All Your Campsite Reservations</h3>

  <% if @campsite_reservations.present? %>
    <% @campsite_reservations.each do |campsite_reservation| %>
      <div class="campsite-reservation-card">
        <div class="campsite-reservation-card-header">
          <h5><%= campsite_reservation.campsite.name %></h5>
          <p><%= "Check-in: #{campsite_reservation.check_in}" %></p>
          <p><%= "Check-out: #{campsite_reservation.check_out}" %></p>
          <% if campsite_reservation.campsite.user.photo.attached? %>
              <%= cl_image_tag campsite_reservation.campsite.photo.key, class: 'avatar-large' %>
            <% end %>
        </div>
        <%= campsite_reservation.description%>
        <%= "#{campsite_reservation.number_guests} guests" %>
        <%= "Total price: R$#{campsite_reservation.total_price}" %>
        <%= "Status: #{campsite_reservation.status}" %>
        <%= link_to "Cancel", campsite_reservation_path(campsite_reservation), method: :delete %>
      </div>
    <% end %>

  <% elsif @past_campsite_reservations.present? %>
    <h3>Past Campsite Reservations</h3>
    <% @past_campsite_reservations.each do |campsite_reservation| %>
      <div class="campsite-reservation-card">
        <%= campsite_reservation.campsite.name %>
        <%= campsite_reservation.description%>
        <%= "Check-in: #{campsite_reservation.check_in}" %>
        <%= "Check-out: #{campsite_reservation.check_out}" %>
        <%= "#{campsite_reservation.number_guests} guests" %>
        <%= "Total price: R$#{campsite_reservation.total_price}" %>
        <%= "Status: #{campsite_reservation.status}" %>
        <%= link_to "Request this campsite again", new_campsite_campsite_reservation_path(campsite_reservation.campsite) %>
      </div>
    <% end %>

  <% else %>
    <p>You don't have any campsite reservations yet.
    <%= link_to 'Start browsing some amazing campsites', campsites_path %></p>
  <% end %>
</div>
