
<div class="container">
  <%= simple_form_for @campsite_reservation, method: 'post' do |f| %>
    <%= f.input :description %>
    <%= f.input :check_in, as: :date %>
    <%= f.input :check_out, as: :date %>
    <%= f.input :number_guests %>
    <%= f.submit %>
  <% end %>
</div>
