<div class="boat-journey-reservations-container">
  <% if @journey_reservations.present? %>
    <h4>Upcoming Boat Reservations</h4>

    <% @journey_reservations.each do |boat_reservation| %>
      <div class="boat-journey-reservation-card">
        <div class="card-colour-box"></div>

        <h5><%= boat_reservation.boat_journey.departure_time.strftime("%d %B %Y, %H:%M")%></h5>
        <div class="boat-journey-reservation-main">
          <ul>
            <li><strong>Boat: </strong><%= boat_reservation.boat_journey.boat.name %></li>
            <li><strong>Captain: </strong><%= boat_reservation.boat_journey.boat.user.first_name %></li>
            <li><strong>Number of passengers: </strong><%= boat_reservation.number_passengers %></li>
            <li><strong>Travel Duration: </strong><%= boat_reservation.boat_journey.travel_duration %></li>
            <li><strong>Total price: </strong><%= "R$#{boat_reservation.total_price}" %></li>
            <li><strong>Status: </strong><%= boat_reservation.status %></li>
          </ul>
        </div>

        <div class="btn-center">
          <%= link_to "Cancel", boat_journey_reservation_path(boat_reservation), method: :delete, class: "secondary-btn secondary-btn-sm secondary-btn-pink", data: {confirm: "Are you sure you want to cancel this reservation?"} %>
        </div>
      </div>
    <% end %>

  <% elsif @past_journey_reservations.present? %>
    <h4>Past Boat Reservations</h4>

    <% @past_journey_reservations.each do |boat_reservation| %>
      <div class="boat-journey-reservation-card">
        <div class="card-colour-box"></div>

          <h5><%= boat_reservation.boat_journey.departure_time.strftime("%d %B %Y, %H:%M")%></h5>
          <div class="boat-journey-reservation-main">
            <ul>
              <li><strong>Boat: </strong><%= boat_reservation.boat_journey.boat.name %></li>
              <li><strong>Captain: </strong><%= boat_reservation.boat_journey.boat.user.first_name %></li>
              <li><strong>Number of passengers: </strong><%= boat_reservation.number_passengers %></li>
              <li><strong>Travel Duration: </strong><%= boat_reservation.boat_journey.travel_duration %></li>
              <li><strong>Total price: </strong><%= "R$#{boat_reservation.total_price}" %></li>
              <li><strong>Status: </strong><%= boat_reservation.status %></li>
            </ul>
          </div>

        </div>
      </div>
    <% end %>

  <% else %>
    <h4>Boat Reservations</h4>
    <p>Looks like you haven't made any requests yet!
      Let's change that: <%= link_to 'Take a look at boats schedule', boat_journeys_path %></p>
    <div style="height: 500px;"></div>
  <% end %>
</div>
