<h3>All Your Boat Journeys Reservations</h3>

<div class="boat-journey-reservations-container">

  <% if @journey_reservations.present? %>
    <h4>Upcoming boat journeys</h4>
    <% @journey_reservations.each do |boat_reservation| %>
      <div class="boat-journey-reservation-card">
        <%= boat_reservation.boat_journey.boat.name %>
        <%= boat_reservation.boat_journey.boat.user.first_name %>
        <%= boat_reservation.boat_journey.departure_time.strftime("%d %B %Y, %H:%M") %>
        <%= boat_reservation.boat_journey.travel_duration %>
        <%= "#{boat_reservation.number_passengers} passengers" %>
        <%= "Total price: R$#{boat_reservation.total_price}" %>
        <%= "Status: #{boat_reservation.status}" %>
        <%= link_to "Cancel", boat_journey_reservation_path(boat_reservation), method: :delete %>
      </div>
    <% end %>

  <% elsif @past_journey_reservations.present? %>
    <h4>Past boat journeys reservations</h4>
    <% @past_journey_reservations.each do |boat_reservation| %>
      <div class="boat-journey-reservation-card">
        <%= boat_reservation.boat_journey.boat.name %>
        <%= boat_reservation.boat_journey.boat.user.first_name %>
        <%= boat_reservation.boat_journey.departure_time.strftime("%d %B %Y, %H:%M") %>
        <%= boat_reservation.boat_journey.travel_duration %>
        <%= "#{boat_reservation.number_passengers} passengers" %>
        <%= "Total price: R$#{boat_reservation.total_price}" %>
        <%= link_to "Request this boat again", boat_journeys_path, anchor: boat_reservation.boat_journey.boat %>
      </div>
    <% end %>

  <% else %>
    <p>Looks like you haven't made any requests yet!
      Let's change that: <%= link_to 'Take a look at boats schedule', boat_journeys_path %></p>
  <% end %>
</div>
