<h1>Edit your boat</h1>

<div>
  <%= simple_form_for(@boat, url: boats_path, method: 'patch') do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "name" }%>
      <%= f.input :max_occupation,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last name" }%>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create", class: "btn btn-primary" %>
    </div>
  <% end %>
  <%= link_to 'Back', user_path(current_user), class: 'btn btn-primary' %>

</div>
