<div class="container">
  <% @boats.each do |boat| %>
    <div class="card">
      <h5><%= boat.name %></h5>
      <p>Max Occupation: <%= boat.max_occupation %></p>
      <p>Sailor: <%= boat.user.first_name %></p>
      <p>About the Sailor: <%= boat.user.bio %></p>
      <p>Contact: <%= boat.user.phone_number %></p>
    </div>
  <% end %>
</div>
