<div class="container">
  <h3>Boat Journeys</h3>

  <div class="container">
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      
      <h2>Select a date</h2>

      <%= simple_form_for :search, method: "get" do |f| %>
        <%= f.input :date, as: :string, required: false, label: false, input_html: {class: "datepicker", name: "date", autocomplete: 'off'} %>
        <%= f.button :submit, "Go", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <% unless @date %>
    <a href="#" class="btn btn-primary" id="display-all">See all boat journeys</a>
  <% end %>

  <h3>
    <% if @date %>
      Boat journeys for
      <%= @date.to_date.strftime("%d %B %Y") %>
    <% end %>
  </h3>
  <div class="journey-container">
    <% @boat_journeys.first(6).each do |boat_journey| %>
      <div class="journey-card">
        <%= boat_journey.boat.name %>
        <%= boat_journey.boat.user.first_name %>
        <%= boat_journey.departure_time.strftime("%d %B %Y, %H:%M") %>
        <%= boat_journey.travel_duration %>
        <%= boat_journey.price_person %>
        <%= link_to "make a reservation", new_boat_journey_boat_journey_reservation_path(boat_journey) %>
      </div>
    <% end %>

    <% other_journeys = @boat_journeys - @boat_journeys.first(6) %>
    <div class=" hidden">
      <% other_journeys.each do |boat_journey| %>
        <div class="journey-card">
          <div class="journey-main-info">
            <%= boat_journey.boat.name %>
            <%= boat_journey.departure_time.strftime("%d %B %Y, %H:%M") %>
          </div>
          <div class="journey-extra-info">
            <%= boat_journey.boat.user.first_name %>
            <%= boat_journey.price_person %>
            <%= boat_journey.travel_duration %>
          </div>
          <%= link_to "make a reservation", new_boat_journey_boat_journey_reservation_path(boat_journey) %>
        </div>
      <% end %>
    </div>
  </div>

  <% if @date %>
    <%= link_to 'Back', boat_journeys_path, class: 'btn btn-primary' %>
  <% end %>

  <p>Couldn't find a schedule that fits you?
    <%= link_to "Contact a boatdriver directly to make a special journey request", boats_path %></p>
</div>
