<div class="container">
  <h3>Boat Journeys</h3>

  <div class="container">
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      
      <h2>Select a date</h2>

      <%= simple_form_for :search, method: "get" do |f| %>
        <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker", name: "date"} %>
        <%= f.button :submit, "Go", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <h3>
    <% if @date %>
      Boat journeys for
      <%= @date.to_date.strftime("%d %B %Y") %>
    <% end %>
  </h3>
  
  <% @boat_journeys.first(10).each do |boat_journey| %>
    <div class="card">
      <%= boat_journey.boat.name %>
      <%= boat_journey.boat.user.first_name %>
      <%= boat_journey.departure_time.strftime("%d %B %Y, %H:%M") %>
      <%= boat_journey.travel_duration %>
      <%= boat_journey.price_person %>
      <%= link_to "make a reservation", new_boat_journey_boat_journey_reservation_path(boat_journey) %>
    </div>
  <% end %>

  <% other_journeys = @boat_journeys - @boat_journeys.first(10) %>
  <div class="container hidden">
    <h3>to be hidden with JS</h3>
    <% other_journeys.each do |boat_journey| %>
      <div class="card">
        <%= boat_journey.boat.name %>
        <%= boat_journey.boat.user.first_name %>
        <%= boat_journey.departure_time.strftime("%d %B %Y, %H:%M") %>
        <%= boat_journey.travel_duration %>
        <%= boat_journey.price_person %>
        <%= link_to "make a reservation", new_boat_journey_boat_journey_reservation_path(boat_journey) %>
      </div>
    <% end %>
  </div>
  
  <p>Couldn't find a schedule that fits you?
    <%= link_to "Contact a boatdriver directly to make a special journey request", boats_path %></p>
</div>

