<div class="container">
  <h3>All Boat Journeys</h3>

  <% @boat_journeys.each do |boat_journey| %>
    <div class="card">
      <%= boat_journey.boat.name %>
      <%= boat_journey.boat.user.first_name %>
      <%= boat_journey.departure_time.strftime("%d %B %Y, %H:%M") %>
      <%= boat_journey.travel_duration %>
      <%= boat_journey.price_person %>
      <%= link_to "make a reservation", new_boat_journey_boat_journey_reservation_path(boat_journey) %>
    </div>
  <% end %>
</div>
