<% if current_user %>
  <% unless current_user.local? %>
    <%= render 'shared/index_navbar' %>
  <% end %>
<% else %>
  <%= render 'shared/index_navbar' %>
<% end %>


<div class="journey-container">

  <div class="journey-filter">
    <h3>Filter by date</h3>
    <p class="journey-p">Check the boats schedule for your check-in date.</p>

    <%= simple_form_for :search, method: "get", wrapper: :inline_form, html: { class: "form-inline" } do |f| %>
      <%= f.input :date, as: :string, required: false, label: false, input_html: {class: "datepicker", name: "date", autocomplete: 'off'} %>
      <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
    <% end %>

    <% if @date %>
      <p class="date-tag">Schedule on <%= @date.to_date.strftime("%d %B %Y") %></p>
      <%= link_to 'Back', boat_journeys_path, class: 'av-link' %>
    <% end %>
  </div>

  <div class="journeys-container">
    <% n = 0 %>

    <% @boat_journeys.first(10).each do |boat_journey| %>
      <div class="journey-card">
        <% if boat_journey.boat.photo.attached? %>
          <%= cl_image_tag boat_journey.boat.photo.key, class: 'journey-image' %>
        <% else %>
          <img class="journey-image" src="https://imgc.allpostersimages.com/img/print/posters/small-fishing-boats-in-the-turquoise-sea-mauritius-indian-ocean-africa_a-G-8747570-4990619.jpg" alt="boat photo">
        <% end %>

        <div class="journey-main-info">
          <p class="journey-date"><%= boat_journey.departure_time.strftime("%d %B %Y, %H:%M") %></p>
          <p class="journey-name">Boat: <%= boat_journey.boat.name %></p>
        </div>
        <a href="#" class="av-link see-extra-info" data-id=<%= n %>>See more info</a>
      </div>

      <div class="journey-extra-info info-hidden" data-id="<%= n %>">
        <div class="journey-info-p">
          <p class="journey-info">Captain: <%= boat_journey.boat.user.first_name %></p>
          <p class="journey-info">Price: R$<%= boat_journey.price_person %>/passenger</p>
          <p class="journey-info">Duration: <%= boat_journey.travel_duration %></p>
        </div>
        <%= link_to "make a reservation", new_boat_journey_boat_journey_reservation_path(boat_journey), class: "primary-btn primary-btn-sm primary-btn-blue" %>
      </div>

      <% n += 1 %>
    <% end %>

    <% other_journeys = @boat_journeys - @boat_journeys.first(10) %>
    <div class=" hidden">
      <% other_journeys.each do |boat_journey| %>

        <div class="journey-card">
          <% if boat_journey.boat.photo.attached? %>
            <%= cl_image_tag boat_journey.boat.photo.key, class: 'journey-image' %>
          <% else %>
            <img class="journey-image" src="https://imgc.allpostersimages.com/img/print/posters/small-fishing-boats-in-the-turquoise-sea-mauritius-indian-ocean-africa_a-G-8747570-4990619.jpg" alt="boat photo">
          <% end %>

          <div class="journey-main-info">
            <p class="journey-date"><%= boat_journey.departure_time.strftime("%d %B %Y, %H:%M") %></p>
            <p class="journey-name">Boat: <%= boat_journey.boat.name %></p>
          </div>
          <a href="#" class="av-link see-extra-info" data-id=<%= n %>>See more info</a>
        </div>

        <div class="journey-extra-info info-hidden" data-id="<%= n %>">
          <div class="journey-info-p">
            <p class="journey-info">Captain: <%= boat_journey.boat.user.first_name %></p>
            <p class="journey-info">Price: R$<%= boat_journey.price_person %>/passenger</p>
            <p class="journey-info">Duration: <%= boat_journey.travel_duration %></p>
          </div>
          <%= link_to "make a reservation", new_boat_journey_boat_journey_reservation_path(boat_journey), class: "primary-btn primary-btn-sm primary-btn-blue" %>
        </div>
        <% n += 1 %>
      <% end %>
    </div>

  </div>

  <% unless @date %>
    <%= link_to 'Full schedule', '#', class: 'secondary-btn secondary-btn-sm secondary-btn-blue', id: 'display-all' %>
  <% end %>

  <div class="special-request">
    <p>Couldn't find a schedule that fits you?
      <%= link_to "Contact a boatdriver directly to make a special journey request.", boats_path %>
    </p>
  </div>

</div>
