<%= render 'shared/index_navbar' %>

<div class="container">
  <div class="container text-center">
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">

      <h3>Select a date for your journey!</h3>

      <%= simple_form_for :search, method: "get" do |f| %>
        <%= f.input :date, as: :string, required: false, label: false, input_html: {class: "datepicker", name: "date", autocomplete: 'off'} %>
        <%= f.button :submit, "Go", class: "secondary-btn secondary-btn-md secondary-btn-yellow btn-go-wide" %>
      <% end %>
    </div>
  </div>

  <% unless @date %>
    <a href="#" class="secondary-btn secondary-btn-md secondary-btn-green" id="display-all">See all boat journeys</a>
  <% end %>

  <h3>
    <% if @date %>
      Boat journeys for
      <%= @date.to_date.strftime("%d %B %Y") %>
    <% end %>
  </h3>

  <div class="journeys-container">
    <% n = 0 %>
    <% @boat_journeys.first(10).each do |boat_journey| %>
      <div class="journey-card">
        <img class="journey-image" src="https://imgc.allpostersimages.com/img/print/posters/small-fishing-boats-in-the-turquoise-sea-mauritius-indian-ocean-africa_a-G-8747570-4990619.jpg" alt="boat photo">
        <div class="journey-main-info">
          <h5><%= boat_journey.departure_time.strftime("%d %B %Y, %H:%M") %></h5>
          <p>Boat: <%= boat_journey.boat.name %></p>
        </div>
        <a href="#" class="av-link see-extra-info" data-id=<%= n %>>See more info</a>
      </div>
      <div class="journey-extra-info info-hidden" data-id="<%= n %>">
        <ul>
          <li>Captain: <%= boat_journey.boat.user.first_name %></li>
          <li>Price per passenger: <%= boat_journey.price_person %></li>
          <li>Duration: <%= boat_journey.travel_duration %></li>
          <li><%= link_to "make a reservation", new_boat_journey_boat_journey_reservation_path(boat_journey), class: "secondary-btn secondary-btn-sm secondary-btn-yellow" %></li>
        </ul>
      </div>
      <% n += 1 %>
    <% end %>

    <% other_journeys = @boat_journeys - @boat_journeys.first(10) %>
    <div class=" hidden">
      <% other_journeys.each do |boat_journey| %>
        <div class="journey-card">
          <img class="journey-image" src="https://imgc.allpostersimages.com/img/print/posters/small-fishing-boats-in-the-turquoise-sea-mauritius-indian-ocean-africa_a-G-8747570-4990619.jpg" alt="boat photo">
          <div class="journey-main-info">
            <h5><%= boat_journey.departure_time.strftime("%d %B %Y, %H:%M") %></h5>
            <p>Boat: <%= boat_journey.boat.name %></p>
          </div>
          <a href="#" class="av-link see-extra-info" data-id=<%= n %>>See more info</a>
        </div>
        <div class="journey-extra-info info-hidden" data-id="<%= n %>">
          <ul>
            <li>Captain: <%= boat_journey.boat.user.first_name %></li>
            <li>Price per passenger: <%= boat_journey.price_person %></li>
            <li>Duration: <%= boat_journey.travel_duration %></li>
            <li><%= link_to "make a reservation", new_boat_journey_boat_journey_reservation_path(boat_journey) %></li>
          </ul>
        </div>
        <% n += 1 %>
      <% end %>
    </div>
  </div>

  <% if @date %>
    <%= link_to 'Back', boat_journeys_path, class: 'secondary-btn secondary-btn-sm secondary-btn-green' %>
  <% end %>

  <p>Couldn't find a schedule that fits you?
    <%= link_to "Contact a boatdriver directly to make a special journey request", boats_path %>
  </p>
</div>
