

<div class="container">
  <% @campsites.each do |campsite| %>
    <div class="card">
      <h3><%= campsite.name %></h3>
      <p><%= campsite.description %></p>
      <p><%= campsite.daily_price %></p>
      <p><%= campsite.availability %></p>
      <p>Owner: <%= "#{campsite.user.first_name} #{campsite.user.last_name}" %></p>
    </div>
  <% end %>
</div>
