<% if current_user %>
  <% unless current_user.local? %>
    <%= render 'shared/index_navbar' %>
  <% end %>
<% else %>
  <%= render 'shared/index_navbar' %>
<% end %>

<div class="campsites-container">

  <div class="campsites-filter">
    <h3>Filter by date</h3>
    <p>Check which campsites are available </p>

    <%= simple_form_for :search, method: "get", wrapper: :inline_form, html: { class: "form-inline" } do |f| %>

      <div class="date-inputs">
        <%= f.input :start_date, required: true, as: :string, input_html: { id: "start_date", name: "start_date", autocomplete: 'off', class: "form-input-style form-input-color"} %>
        <%= f.input :end_date, required: true, as: :string, input_html: { id: "end_date", name: "end_date", autocomplete: 'off', class: "form-input-style form-input-color"} %>
      </div>

      <button type="submit" class="search-btn form-input-style"><i class="fas fa-search "></i></button>

    <% end %>
  </div>

  <% if @start_date %>
    <h4>There are <%= @campsites.count %> campsites available on those dates</h4>
  <% end %>

  <% @campsites.each do |campsite| %>
    <div class="campsite-card">

      <% if campsite.photo.attached? %>
        <%= cl_image_tag campsite.photo.key, class: 'campsite-image' %>
      <% end %>

      <div class="campsite-card-content">

        <div class="campsite-card-info">
          <div class="campsite-card-header">
            <h4><%= campsite.name %></h4>
            <% if campsite.user.photo.attached? %>
              <%= cl_image_tag campsite.user.photo.key, class: 'avatar-medium' %>
            <% end %>
          </div>
          <p><%= campsite.description %></p>
        </div>

        <div class="campsite-card-tags">
          <p class="availability"><%= campsite.availability %></p>
          <p class="price">R$<%= campsite.daily_price %></p>
        </div>

        <div class="campsites-btns">
          <%= link_to 'See more', campsite_path(campsite), class: 'primary-btn primary-btn-sm primary-btn-pink' %>
          <%= link_to 'Request a Reservation', new_campsite_campsite_reservation_path(campsite), class: 'secondary-btn secondary-btn-sm secondary-btn-green' %>
        </div>
      </div>

    </div>
  <% end %>
</div>
