<div class="container">
  <div class="container">
    <h3><%= @campsite.name %></h3>
    <p><%= @campsite.description %></p>
    <p><%= @campsite.daily_price %></p>
    <p><%= @campsite.availability %></p>
    <p>Owner: <%= "#{@campsite.user.first_name} #{@campsite.user.last_name}" %></p>
    <%= link_to 'Request a Reservation', new_campsite_reservation_path(@campsite) %>
  </div>
</div>
