<div class="reservation-container">

  <div class="go-back">
    <%= link_to icon('fas', 'chevron-left'), local_campsites_path %>
    <%= link_to 'Go back', local_campsites_path, class: 'av-link' %>
  </div>

  <div class="reservation-card">
    <h4>Edite o seu camping</h4>
    <h5>@campsite.name</h5>

    <%= simple_form_for(@campsite, url: local_campsite_path(@campsite), method: 'patch') do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name,
                    required: true,
                    autofocus: true %>
        <%= f.input :description,
                    required: true,
                    autofocus: true %>
        <%= f.input :daily_price,
                    required: true,
                    autofocus: true %>
        <%= f.input :photo, as: :file %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Salvar", class: "devise-btn" %>
      </div>

    <% end %>
  </div>
</div>
