<div class="reservation-container">

  <div class="go-back">
    <%= link_to icon('fas', 'chevron-left'), local_campsites_path %>
    <%= link_to 'Go back', local_campsites_path, class: 'av-link' %>
  </div>

  <div class="reservation-card">
    <h4>Edit your campsite</h4>
    <h5><%= @campsite.name %></h5>

    <%= simple_form_for(@campsite, url: local_campsite_path(@campsite), method: 'patch') do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name,
                    required: true,
                    autofocus: true,
                    label: "Name of the campsite" %>
        <%= f.input :description,
                    required: true,
                    autofocus: true,
                    label: "Description" %>
        <%= f.input :daily_price,
                    required: true,
                    autofocus: true,
                    label: "Daily rate" %>
        <%= f.input :photo, as: :file %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Save", class: "devise-btn" %>
      </div>

    <% end %>
  </div>
</div>
