<div class="container">
  <h3>Edit your campsite</h3>

  <div>
    <%= simple_form_for(@campsite, url: local_campsite_path(@campsite), method: 'patch') do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name,
                    required: true,
                    autofocus: true %>
        <%= f.input :description,
                    required: true,
                    autofocus: true %>
        <%= f.input :daily_price,
                    required: true,
                    autofocus: true %>
        <%= f.input :availability,
                    required: true,
                    autofocus: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Save", class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= link_to 'Back', user_path(current_user), class: 'btn btn-primary' %>
  </div>
</div>
