<div class="container">
  <h3>Seus campings</h3>
  <% if @campsites.empty? %>
    <p>Você não tem acampamentos.</p>
  <% else %>
    <% @campsites.each do |campsite| %>
      <div class="card">
        <h4><%= campsite.name %></h4>
        <% if campsite.full_periods %>
          <ul>
            <% campsite.full_periods.each do |full_period| %>
              <li>
                Fully booked from: <%= full_period.start_date %> to <%= full_period.end_date %>
                <%= link_to "Delete", local_full_period_path(full_period), method: :delete %>
                <%= link_to "Add a full period", new_local_campsite_full_period_path(campsite) %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <%= link_to "Edit Campsite", edit_local_campsite_path(campsite) %>
      </div>
    <% end %>
  <% end %>
</div>
