<!DOCTYPE html>
<html>
  <head>
    <title>Discover Aventureiro - Experience the caiçara way</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22>
      <text y=%22.9em%22 font-size=%2290%22>
        🌴
      </text>
    </svg>">

    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <% if content_for?(:home_navbar) %>
      <%= yield(:home_navbar) %>
      <%= yield %>
      <%= render 'shared/footer' %>
    <% else %>
      <%= render 'shared/navbar' %>
      <div class="content-container">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
